/**
 * Quantpulse Design System - Main SCSS
 * 
 * This is the main entry point for our styles.
 * It imports fonts, Tailwind CSS, and provides additional global styles and utilities.
 */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {

    * {
        ::-webkit-scrollbar {
            @apply qp-w-2.5;
        }

        ::-webkit-scrollbar-track {
            @apply qp-bg-transparent;
            @apply qp-m-1;
        }

        ::-webkit-scrollbar-thumb {
            background: rgba(148, 163, 184, 0.3);
            border-radius: 3px;
            transition: background 0.2s ease;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgba(148, 163, 184, 0.5);
        }
    }

    html {
        font-family: 'Inter', system-ui, sans-serif;
        @apply qp-text-sm;
        @apply qp-scroll-smooth;
        @apply qp-text-gray-800;
    }

    body {
        @apply qp-min-h-screen qp-w-full qp-overflow-x-hidden;
    }

    #app {
        @apply qp-flex qp-flex-col qp-min-h-screen;
    }

    .security-details-page {
        .admin-grid {
            @apply qp-grid qp-grid-cols-1 lg:qp-grid-cols-2 qp-gap-3;

            .admin-card {
                @apply qp-border qp-border-primary-200 qp-rounded-md;

                .card-title {
                    @apply qp-flex qp-items-center qp-gap-2 qp-bg-primary-100 qp-text-base qp-font-medium qp-text-primary-900 qp-px-2 qp-py-1 qp-border-b qp-border-primary-200;

                    i {
                        @apply qp-text-primary-500 qp-text-2xl;
                    }
                }

                .card-content {
                    @apply qp-px-3;

                    .detail-table {
                        .detail-row {
                            @apply qp-flex qp-min-h-14 qp-justify-between qp-text-base qp-items-center qp-py-2 qp-border-b qp-border-primary-100 last:qp-border-b-0;

                            .label {
                                @apply qp-font-medium qp-text-primary-600 qp-min-w-0;
                            }

                            .value {
                                @apply qp-text-primary-900 qp-font-medium qp-text-right qp-flex qp-items-center qp-gap-2 qp-min-w-0;

                                code {
                                    @apply qp-px-2 qp-py-1 qp-bg-primary-100 qp-text-primary-800 qp-rounded qp-font-mono;
                                }

                                .not-available {
                                    @apply qp-text-primary-400 qp-italic;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Primevue Datatable override styles
    .p-datatable {
        .p-datatable-table-container {
            .p-datatable-thead {
                @apply qp-text-base;
            }

            .p-datatable-tbody {
                @apply qp-text-sm;

                tr td {
                    @apply qp-py-1;
                }
            }
        }

        .p-datatable-paginator-bottom {
            @apply qp-text-sm;
        }
    }
}