/**
 * Quantpulse Design System - Main SCSS
 * 
 * This is the main entry point for our styles.
 * It imports fonts, Tailwind CSS, and provides additional global styles and utilities.
 */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {

    * {
        ::-webkit-scrollbar {
            @apply qp-w-2.5;
        }

        ::-webkit-scrollbar-track {
            @apply qp-bg-transparent;
            @apply qp-m-1;
        }

        ::-webkit-scrollbar-thumb {
            background: rgba(148, 163, 184, 0.3);
            border-radius: 3px;
            transition: background 0.2s ease;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgba(148, 163, 184, 0.5);
        }
    }

    html {
        font-family: 'Geist', system-ui, sans-serif;
        @apply qp-scroll-smooth;
        @apply qp-text-gray-800;
    }

    body {
        @apply qp-min-h-screen qp-w-full qp-overflow-x-hidden;
    }

    #app {
        @apply qp-flex qp-flex-col qp-min-h-screen;
    }
}